*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}


@import "base/variables";

@import "components/header";

@import "components/index";

@import "components/footer";

@import "base/mapas";

@import "base/colores";

@import "base/extends";

@import "base/mixins";


