/* if(tu viejo === zapatero) {
    zarpale la lata
} else {
    nos vamo para la esquina
} */

@mixin condicion($colores) {
    background-color: $colores;


    @if $colores == orange {
        border:  1px solid black;
    } @else {
        border: 4px dotted gray;
    }
}

/* .bg-condicion{
    @include condicion(blue)
} */