/* bolsitas de propiedades que podemos reutilizar en muchos lugares */

/* % + nombre {las propiedades}*/

%botones {
    width: 50%;
    margin: 10px 0 30px 80px;
    border: 2px solid black;
    border-radius: 4px;
}

